{% extends 'product_includes/dashboard.html' %}
{% block style %}
{% endblock %}
{% block dashboard_content %}
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div class="col-md-9 p-b-30">
{% load static %}
    <div class="card" style="background-color: #F0F0F0">
        <div style="height: 300px; background-image:url({% static 'users/4.jpeg' %}); background-repeat: no-repeat; background-size: cover;">
            <div class="edit-banner" style="padding-top: 300px; float: right; padding-right: 20px; ">
                <button data-toggle="tooltip" title ="Change cover">
                    <i class="material-icons">add_a_photo</i>
                </button>
            </div>
        </div>
        <div class="profile-location">
            <img src="{% static 'users/4.jpg' %}" class="card-img-top" style="border-radius:5px; width: 125px; height: 125px; position: relative; margin-top: -60px; left: 40%">
        </div>
        <div class="card-body">
            <button class="btn btn-primary" style="float: right; background-color: transparent; color: #E65540; padding:10px 30px; border-radius: 0px;" data-toggle="modal" data-target="#exampleModal"> 
                Edit
            </button>
            <h4><u>{{ user_detail.first_name | title }} {{ user_detail.last_name | title }}</u></h4>
            <p><i class="material-icons">location_city</i> Ekantakuna</p>
            <p><i class="material-icons">place</i> Kathmandu, Nepal</p>
            <p><i class="material-icons">email</i> {{user.email}} </p>
            <p><i class="material-icons">contact_phone</i> {{user_detail.phone_no}}</p>
            <hr>
            <h4>Billing Address</h4>
            {% if billing_detail %}
                <a class="btn btn-primary" href="{% url 'users:billing_detail' user.id %}" style="float: right; background-color: transparent; color: #E65540; padding:10px 30px; border-radius: 0px;" data-toggle="modal" data-target="#exampleModal1">Edit</a>
                <p>House # {{ billing_detail.house_no }}</p>
                <p>Himalaya Marg, Bikash Tole</p>
                <p>{{ billing_detail.city }} - {{ billing_detail.ward_no }}</p>
                <p>{{ district}}, {{ state }}, {{ billing_detail.country }}</p>
                <p>Near {{ billing_detail.landmark}} </p>
            {% else %}
                <p>details not added</p>
                <button class="btn btn-primary" data-toggle="modal" data-target="#exampleModal1">Add Details</button>
            {% endif %}
        </div>
    </div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit Details</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="leave-comment" id="js-edit_user" role="form" action="{% url 'users:edit_user' user.id %}" method="post" data-load_districts_url ="{% url 'lookups:load_districts' %}">
            {% csrf_token %}
            {% include 'home/form_template.html' with form=form %}
            <button class="flex-c-m av__btn__fullwidth bg1 hov1 m-text3 trans-0-4">
                Next
            </button>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Billing Details</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="leave-comment" id="" role="form" action="{% url 'users:billing_detail' user.id %}" method="POST">
            {% csrf_token %}
            {% include 'home/form_template.html' with form=billing_detail_form %}
            <button class="flex-c-m av__btn__fullwidth bg1 hov1 m-text3 trans-0-4">
                Save
            </button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block script%}
<script>
    $(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip(); 
});
</script>

<script type="text/javascript">
    $('#js-add-billing-details').on('click',function(e){
        e.preventDefault();
        var form_data = $(this).closest('form').serialize();
        var url = $(this).closest('form').attr('action');
        console.log(form_data);

            // $("#js-add_product_form").validate();
            // console.log(form_data)
            // $.ajax({
            //    url : url,
            //    type : 'post',
            //    dataType : 'json',
            //    data : form_data,
            //    success : function (response) {
            //        if(response.status = 'success'){
            //            $('#myTab a[href="#images_upload"]').tab('show');
            //        }
            //    }
            // })
    });

    $(document).on("change","#id_state",function () {
          var url = $("#js-edit_user").data("load_districts_url");
          var stateId = $(this).val();
          $.ajax({
            url: url,
            data: {
              'stateId': stateId
            },
            dataType:'json',
            success: function (response) {
                var options = [];
                options.push('<option value="">Your District</option>');
                $.each(response.district, function(key, val) {
                    options.push('<option value="'+key+'">'+val+'</option>');
                    console.log(key+'=>'+val);
                });
                $("#id_district").html(options.join());
            }
          });

        });
</script>
{% endblock %}