{% extends 'includes/base.html' %}
{% block content %}
	<section id="form">
		<div class="container">
			<div class="row">
				<div class="col-sm-4 col-sm-offset-1">
					<div class="login-form">
						<h2>Login to your account</h2>
						<form role="form" action="{% url 'users:login_user' %}" method="post">
							{% csrf_token %}
							{% include 'home/form_template.html' with form=form %}
							<span>
								<input type="checkbox" class="checkbox">
								Keep me signed in
							</span>
							<button type="submit" class="flex-c-m av__btn__fullwidth bg1 hov1 m-text3 trans-0-4">Login</button>
						</form>
						
					</div>
				</div>
				<div class="col-sm-1">
				</div>
				<div class="col-sm-4">
					<div class="signup-form">
						<h2>New User Signup!</h2>
						<form role="form" action="{% url 'users:signup_user' %}" method="POST">
							{% csrf_token %}
							{% include 'home/form_template.html' with form=signup_form %}
							<button type="submit" class="flex-c-m av__btn__fullwidth bg1 hov1 m-text3 trans-0-4">Signup</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}